@media screen  and (max-width:599px){
    .inputBody
    {
        width: 100% !important;
    }
    .bilingBody
    {
        width: 92% !important;
    }
    .bilingBodyDetail
    {
        width: 100% !important;
    }
}
@media screen  and (min-width:600px) and (max-width:768px){
    .inputBody
    {
        width: 100% !important;
    }
    .bilingBody
    {
        width: 92% !important;
    }
    .bilingBodyDetail
    {
        width: 100%;
    }
}
@media screen  and (min-width:769px) and (max-width:991px){
    .inputBody
    {
        width: 100%;
    }
    .bilingBody
    {
        width: 92% !important;
    }
    .bilingBodyDetail
    {
        width: 100%;
    }
}
@media screen  and (min-width:992px) and (max-width:1200px){
    .bilingBodyDetail
    {
        width: 100%;
    }
}
